body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.nav-button {
    color:blue; background: #ebcccc;                          /*animates color on navbar for fade-in and fade-out*/
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
}
.nav-button:hover { 
    color:orange; background:white; /*when a user hovers over the button, the backgrounds fades in and out*/
}

h2{
    text-align: center;
    color: red;
}

p{
    text-align: center;
}

.post-text{
    
}

.queries{
    visibility: hidden;
}

.panel{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

#bgvid {
    position: fixed; right: 0; bottom: 0;             /*makes background video full screen and sets it
                                                      behind everything, sets poster image and makes it full
                                                        screen too*/
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(images/clouds.jpg) no-repeat;
    background-size: cover;
}

.login{
    text-align: center;
    position: relative;
}

.register{
    text-align: center;
    position: relative;
}

#logo{
    width: 50px;     /*changes size of logo*/
    height: 50px;
}
